<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://azuretask.servicebus.windows.net/;SharedAccessKeyName=servicebusaccess;SharedAccessKey=/Mol39VKIc1JV9ZDLUWmtBs0+65na1nd+355zhqMTp4=;EntityPath=uploadqueue" />
  </appSettings>
  <connectionStrings>
    <add name="StorageConnection" connectionString="DefaultEndpointsProtocol=https;AccountName=filestorage436;AccountKey=WSdm5RHMq401W4380xi8yTC6nlxXCe2XoixLH/suw3ceGkRCIl3VTVY/tWgyll0CAKUN9oRIz+tm11ScfoJxuQ==;EndpointSuffix=core.windows.net" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>