<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory.Platform" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.19.8.16603" newVersion="3.19.8.16603" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<appSettings>
  <add key="Microsoft.ServiceBus.ConnectionString" value="Endpoint=sb://azuretask.servicebus.windows.net/;SharedAccessKeyName=servicebusaccess;SharedAccessKey=/Mol39VKIc1JV9ZDLUWmtBs0+65na1nd+355zhqMTp4=;EntityPath=uploadqueue"/>
</appSettings>
</configuration>